.about-us-container{
  background-color: #2b7a78;
}

.about-us {
  text-align: center;
  padding: 20px;
  background-color: #2b7a78;
  padding-top: 115px;
}

.about-us-content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.about-us-content p{
  text-align: left;
}

.about-us-content h2 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #def2f1;
}

.about-us-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  color: #b3c9c8; 
}

.about-us-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 20px 0;
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
  .about-us-content {
    padding: 0 40px;
  }

  .about-us-content p{
    text-align: left;
  }

  .about-us-content h2{
    text-align: left;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 767px) {
  .about-us-content {
    padding: 0 15px;
  }

  .about-us-image {
    max-width: 100%;
  }

  .about-us-content p{
    text-align: left;
  }

  .about-us-content h2{
    text-align: left;
  }
}


body {
  touch-action: pan-x pan-y; /* Allows zooming on mobile devices */
  overflow-x: hidden; /* Prevents horizontal scroll */
  user-select: none; /* Prevents text selection on double-click */
}

img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  pointer-events: none; /* Prevent interaction with images */
}